@charset "utf-8";
/* CSS Document */

/*pageNav
-----------------*/
#wrapper{ position:relative;}
#buttonBg{background:#EAECED;margin-bottom:70px; height:auto; overflow:visible;}
#buttonBg:after{content:""; position:relative; z-index:9999; bottom:-5px;display:block;width:100%;height:14px; background:url(../images/btn-bg2.png) repeat-x; z-index:0; zoom:1;}
#buttonBg:before{content:""; position:relative; top:-5px;display:block;height:14px; background:url(../images/btn-bg1.png) repeat-x; zoom:1;}
/*#borderBtom{height:14px; background:url(../images/btn-bg1.png) repeat-x;}
#borderTop{height:14px; background:url(../images/btn-bg2.png) repeat-x; zoom:1;}
*/#btnNav{ position:relative;height:390px;margin:0px auto; background:url(../images/bannerbg.png) no-repeat; background-position:center ; overflow:hidden;}
#word{ position:relative;width:972px;height:390px; margin:0px auto; ;}
.page_nav{position:absolute; width:498px;height:45px; left:23px;top:16px; zoom:1; overflow:hidden;}
.page_nav ul{ position:relative;width:498px; height:45px;zoom:1; background:#EAECED;}
.page_nav ul li{ margin:0px; padding:0px;}
.page_nav ul li a{ display:block; height:45px; width:83px; position:relative;overflow:hidden;}
.page_nav ul li a:hover{text-decoration:none;}
.page_nav ul li{float:left;zoom:1;}
.show_btn li,.page_nav ul li{background:url(../images/button.png) no-repeat; overflow:hidden; }
.page_nav ul li{width:83px; height:45px;background-position:-15px -2px;zoom:1;}

.page_nav ul li .img{ position:relative;display:block; margin:13px 0px 13px 32px ; width:20px; height:20px; background:url(../images/btn-nav.png) no-repeat;}
.page_nav ul li .index{background-position:-5px -34px;}
.page_nav ul li .about{background-position:-30px -34px;}
.page_nav ul li .service{background-position:-52px -34px;}
.page_nav ul li .team{background-position:-77px -34px;}
.page_nav ul li .contact{background-position:-102px -34px;}
.page_nav ul li .join{background-position:-126px -33px;}
.page_nav ul li .text{ position:relative;display:block; width:83px; text-align:center;font-size:12px; color:#F8A429; font-weight:bold;}

.btn_think,.btn_out,.btn_box,.btn_about,.btn_team,.btn_service,.btn_join,.btn_contact{position:absolute; overflow:hidden; display:none;}
.btn_think {top:68px; left:145px;}
.show_btn li{top:-73px;}
.btn_thinkoutofthebox{display:block;}
.show_btn li{ position:relative;float:left; margin-right:3px; width:78px; height:73px; background-position:-104px -2px;color:#26B0E0; line-height:73px; text-align:center; font-family:Arial, Helvetica, sans-serif; font-weight:bold;)
}
.btn_out,.btn_about{left:244px;top:146px;}
.btn_service,.btn_contact{left:242px; top:147px; display:none;}
.btn_about{display:block;}
.show_btn .txt_t {margin-right:79px;}
.btn_out ul li,.btn_box ul .yelw{color:#F4CC91;}
.btn_box{bottom:91px; left:284px;}
.btn_box ul .txt_e{margin-right:79px;}
.btn_team,.btn_join{left:325px; top:147px; display:none;}

/*mainNav
-----------------------*/

.nav{height:150px; width:145px; background:#F89E1B;}
.nav h3{ margin:45px auto;}
.nav h3 a{text-indent:-1000px; background:url(../images/contentnav.png) no-repeat; overflow:hidden; cursor:pointer;}
.nav h3,.nav h3 a{display:block; width:70px; height:60px;}
.content{ position:relative; padding:35px 35px 25px;width:670px; height:auto; background:#00A3DC; min-height:230px;_height:230px;}
#aboutUs .content,#team .content,#contact .content,#aboutUs .nav,#team .nav,#contact .nav{float:left;}

#aboutUs .nav,#team .nav,#contact .nav{margin-right:15px;}
#service .nav,#join .nav{ margin-left:15px;}
#service .content,#join .content,#service .nav,#join .nav{float:right;}
#aboutUs,#service,#team,#contact,#join{margin-bottom:75px;}

.service_nav h3 a{ background-position:-70px 0px;}
.team_nav h3 a{ background-position:-140px 0px;}
.join_nav h3 a{ background-position:-210px 0px;}
.contact_nav h3 a{ background-position:-280px 0px;}

.content p,.content ul li a,.content ul li span,.content p a{color:#D5F1FC; font-size:14px; line-height:1.8em;}
#aboutUs .content p,#service .content p{margin-bottom:25px;}
.more{ position:absolute; right:25px; bottom:25px;color:#27B3E4; font-size:24px; font-weight:400; font-family:Arial, Helvetica, sans-serif;}

#team .content ul{ position:absolute;overflow:hidden;}
#newWrp { position:relative;margin-top:25px; height:125px; overflow:hidden;}
#team .content ul li{ padding-left:15px;background:url(../images/list-style.png) no-repeat; background-position:0px 8px; zoom:1;}
#team .content ul li span{margin-left:10px; color:#4BBDE5;}
#team .content ul li a,#team a{cursor:pointer;}
#team .content ul li a:hover{color:#FFF;}
.list{ position:absolute; bottom:25px; right:25px;}
.list a{margin-left:10px; font-size:18px; color:#22B1E3; font-family:Arial, Helvetica, sans-serif; font-weight:400;}
.list a:hover{color:#BAE5F4;}

#join .content{padding-bottom:45px;}
.jop_list{float:left; margin:25px 10px 0px 0px;}
.jop_list li{ float:left;padding-left:10px; width:315px;background:url(../images/jop-style.png) no-repeat; background-position:0px 11px;}
.jop_list li a{color:#BAE5F4;}
.jop_list li a:hover{color:#FFF;}
#join{zoom:1;}

#jopPop{position:absolute;width:0px;height:0px;display:none;border:5px solid #00A3DC; background:#F5FCFF; z-index:9999; overflow:hidden;}
#rp{ position:absolute; width:825px; height:470px; padding:40px 20px 30px 30px;}
#jopPop ol{list-style:decimal; list-style-position:inside;}
#jopPop ol li{ color:#666666; font-weight:400; font-size:14px;}
#jopPop p{ color:#666666; font-size:14px; line-height:1.8em;}
#jopPop h3 {color:#00A3DC; font-size:14px; font-weight:bold;}
#jopPop h4{color:#666666; font-size:14px; font-weight:bold;}
#jopPop ol li{line-height:1.8em;}
#jopPop h3,#jopPop ol,#jopPop p,#jopPop h4{margin-bottom:15px;}
#jopPop .close{ position:absolute; top:3px; right:6px;display:block; width:30px; height:30px; background:url(../images/colse.png); text-indent:-1000px; overflow:hidden;}

#top{ position:fixed;display:none;width:42px; height:55px; bottom:30px; background:url(../images/top.png); background-position:-3px 0px; text-indent:-1000px; z-index:0; overflow:hidden;}


#cover{  position:absolute; display:none; background:#A9A9A9; opacity:0; z-index:1; height:100%; width:100%;}
