@charset "utf-8";
/* CSS Document */
#join ul{position:absolute; left:388px; top:83px;}
/*
#nav li .index_nav{position:absolute; display:block; top:0px; opacity:0;-moz-transition: opacity 1s linear;-webkit-transition: opacity 1s linear;}
/*#nav li .index{ -webkit-transition: -webkit-transform 600ms linear;}*/
/*#nav li .index:hover{-webkit-transform:rotateY(180deg);}*/
#nav li .index_nav:hover{background-position:-3px -100px; opacity:1;}

.container{margin-top:45px;}
.container .title{ height:40px; margin-bottom:35px; background:#009BD2;}
.container .title h2{ height:40px; padding-left:15px; width:185px; background:#F89E1B; line-height:40px; font-size:16px; font-weight:600; color:#FFF6E9; }

.job_nav{width:205px; float:left;}
.job_nav ul li a,.job_nav ul li ul li a{ display:block; width:160px; padding-left:20px; height:35px;background:url(../images/button1.png) no-repeat; background-position: -109px -133px; line-height:35px; font-size:16px; font-weight:bold;}




.job_nav ul .show a{color:#FFF6E9;}
.job_nav ul .show ul li a,.job_nav ul .hide ul li a{ width:130px; padding-left:30px;background:#00A3DC;font-size:14px; font-weight:bold; color:#D5F1FC;}
.job_nav ul li ul li a:hover{background:#12AAE0; text-decoration:none;}
.job_nav ul .show ul{ display:block;margin-top:1px;}
.job_nav ul .hide a{width:160px; background-position: -108px -93px; color:#D5F1FC;}
.job_nav ul .hide ul{display:none; margin-top:1px;}
.job_nav ul li ul li{ margin:0px;}
.job_nav ul li{height:35px;margin-bottom:1px; overflow:hidden;}
.job_content{width:695px; float:right;}
.job_title{margin-bottom:25px;}
.job_title p{font-size:14px; color:#888888; line-height:1.8em;}

.job h3 a,.job h4,.job p,.job ol li,.job span{ margin:15px 0px;font-size:14px; font-weight:bold;color:#666666;}
.job span{font-weight:normal;}
.job h3 {font-weight:bold; color:#00A3DC;}
.job h3 a{visibility:hidden;}
.job p{ font-weight:normal; line-height:1.8em;}
.job ol {list-style:decimal;list-style-position:outside; }
.job ol li{ margin:0px 0px 0px 25px;font-weight:normal; line-height:2em;}


.job{padding:40px 0px; border-top:1px dashed #DBE2E5;}
.job_content .first{padding-top:0px;}
.job_content .last{border:none;}
#backTop{ position:relative;height:30px;}
#footer{margin-top:0px;}
