@charset "utf-8";
/* CSS Document */
/* Reset */
html, body, h1, h2, h3, h4, h5, h6, table, thead, tfoot, tbody, form, fieldset, legend, div, p, span, dl, dt, dd, ul, ol, li,a, blockquote, pre, q, cite, code, input, select, textarea {margin:0; padding:0;}
h1, h2, h3, h4, h5, h6, strong, em, cite, address, sup, sub {font-weight:normal; font-style:normal; font-size:1em; margin:0px; padding:0px;}
ul{list-style-type: none;}
a:link, a:visited {text-decoration:none;}a:hover{}a:active {text-decoration:underline;}
fieldset, a img {border:none;}
input, textarea, button {font-size:100%; font-family:inherit;}
a:hover{ cursor:pointer;}
textarea {resize:vertical;}
table {border-collapse:collapse; border-spacing:0;}
select optgroup {font-style:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
legend {display:none;}
body{ position:relative; background:#F2F2F2;}
#wrapper{min-width:972px;}

/*闭合*/
.clearfix:after {content:"."; display:block; height:0;font-size:0; clear:both; visibility:hidden;}
.clearfix {zoom:1;}


/* header 
-------------------*/

#header{ position:relative;width:972px; padding:95px 0px 45px 0px; height:auto; margin:0px auto; background:#F2F2F2;}
#header h1 a{ display:block;height:60px;width:230px;background:url(../images/logo_Default.png) no-repeat; text-indent:-1000px;overflow:hidden;}
#header h1 a:hover {display:block;height:60px;width:230px;background:url(../images/logo_Hover.png) no-repeat; text-indent:-1000px; overflow:hidden; } 
/*buttonBg 按钮背景
-------------------*/
#buttonBg{ position:relative; height:290px;background:#00A3DC; overflow:hidden; zoom:1}
#borderTop{position:relative; z-index:9999; bottom:-5px;display:block;width:100%;height:6px; background:url(../images/blue-bg.png) repeat-x;zoom:1; margin-right:-22px;}
#borderBtm{position:relative; z-index:9999; top:-5px;display:block;width:100%;height:6px;  background:url(../images/blue-bg1.png) repeat-x;zoom:1; margin-right:-22px;}
#buttonBg .show_word { position:relative; top:-5px;width:1180px; height:295px; margin:0px auto; background:url(../images/bannerbg_blue.png);zoom:1;}
.show_word ul{overflow:hidden;}
.show_word li{ position:relative; float:left; top:-70px; margin-right:10px;height:67px; width:70px; background:url(../images/button.png); background-position:-188px -2px; color:#59C3E8; font-family:Arial, Helvetica, sans-serif; font-weight:bold; line-height:67px; text-align:center;}
/* .container
-----------------*/
.container{ position:relative;width:900px; height:auto; margin:0px auto;}
.container{margin-top:45px;}
.container .title{ height:40px; background:#009BD2;}
.container .title h3{ height:40px; padding-left:15px; width:185px; background:#F89E1B; line-height:40px; font-size:16px; font-weight:600; color:#FFF6E9; }
/*footer
-----------------*/
#footer{ padding:30px 10px; margin-top:67px;background:#EAECED;}
#copy_right{ position:relative;margin:0px auto; width:960px;}
#copy_right p{text-align:right; color:#C9C9C9;}

/*header nav
---------------------*/
#nav{position:absolute;	right:0px;top:108px;}
#nav li{float:left;}
#nav li a,#nav li{display:block; width:75px; height:55px; background:url(../images/mainNav.png) transparent; text-indent:-1000px; overflow:hidden;}
#nav li a span{position:absolute;top:0px; left:-3px;}
#nav .index_li{background-position:-3px 1px;}
#nav .index{/*background-position:-3px 1px;*/background-position:-3px -100px;/*_filter:Alpha(Opacity=0);*/opacity:0;}
#nav .index:hover{/*_filter:Alpha(Opacity=100);*/}
#nav .about_li{background-position:-93px 1px;}
#nav .about{/*background-position:-93px 1px;*/background-position:-93px -100px;/*_filter:Alpha(Opacity=0);*/opacity:0;}
#nav .about:hover{/*_filter:Alpha(Opacity=100);*/}
#nav .iteam_li{background-position:-185px 1px;}
#nav .iteam{/*background-position:-185px 1px;*/background-position:-185px -100px; /*_filter:Alpha(Opacity=0);*/opacity:0;}
#nav .iteam:hover{/*_filter:Alpha(Opacity=100);*/}
#nav .team:hover{/*_filter:Alpha(Opacity=100);*/}
#nav .team{/*background-position:-271px 1px;*/background-position:-271px -100px;/*_filter:Alpha(Opacity=0);*/opacity:0;}
#nav .join{background-position:-363px -100px;/*background-position:-363px -100px;*/opacity:0;}
#nav .team_li{background-position:-271px 1px;}
#nav .join_li{background-position:-363px 1px;}

#nav .join:hover{/*_filter:Alpha(Opacity=100);*/}
#nav .call{/*background-position:-454px 1px;*/background-position:-454px -100px;/*_filter:Alpha(Opacity=0);*/opacity:0;}
#nav .call_li{background-position:-454px 1px;}
#nav .call:hover{/*_filter:Alpha(Opacity=100);*/}

#top{ position:fixed;display:none;bottom:30px; width:42px; height:55px; background:url(../images/top.png); background-position:-3px 0px; text-indent:-1000px; overflow:hidden;}
